<!DOCTYPE html>
<html lang="en">
 
	<head>
		<title>Appointment Manager</title>
		<link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">		
	</head>
 
	<body>
 
		<div class="container">
			<div class="header">
				<h3 class="text-muted">Appointment Manager Home</h3>
				<nav>
                <ul class="nav">
                    <li role="presentation"><a href="#">Home&nbsp;</a>
                    </li>
                    <li role="presentation"><a href="seeApps">Show Appointments&nbsp;</a>
                    </li>
                    <li role="presentation"><a href="createAppForm"> Make Appointment </a>
                    </li>
                </ul>
            </nav>
			</div>
 
			<footer class="footer">
				<p>&copy; Luke Zwenger 2018</p>
			</footer>
 
		</div>
	</body>
 
</html>
